In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
result = pd.read_csv("./results/five_fold.csv", index_col="Unnamed: 0")
result

      trn_rmse  val_rmse
0     0.798217  3.061701
1     0.366935  3.567889
2     0.380801  3.691888
3     0.616910  2.629333
4     0.447432  4.552284
mean  0.522059  3.500619
std   0.183607  0.724378

In [19]:
tst_X = pd.read_csv('./tst_X.csv', index_col="Id")
tst_X

,0,1,2,3,4,5,6,7,8,9,...,287,288,289,290,291,292,293,294,295,296
Id,,,,,,,,,,,,,,,,,,,,,
1461,0.000000,0.184147,0.444444,0.625,0.625954,0.183333,0.116708,0.094364,0.126168,0.173111,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1462,0.000000,0.232124,0.555556,0.625,0.603053,0.133333,0.230175,0.000000,0.189720,0.260844,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1463,0.235294,0.224197,0.444444,0.500,0.900763,0.800000,0.197257,0.000000,0.064019,0.182139,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1464,0.235294,0.154326,0.555556,0.625,0.908397,0.800000,0.150125,0.000000,0.151402,0.181747,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1465,0.588235,0.064121,0.777778,0.500,0.862595,0.700000,0.065586,0.000000,0.475234,0.251227,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,0.823529,0.008453,0.333333,0.750,0.694657,0.333333,0.000000,0.000000,0.255140,0.107164,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2916,0.823529,0.007691,0.333333,0.500,0.694657,0.333333,0.062843,0.000000,0.137383,0.107164,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2917,0.000000,0.336115,0.444444,0.750,0.618321,0.766667,0.305237,0.000000,0.000000,0.240236,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2918,0.382353,0.162724,0.444444,0.500,0.862595,0.700000,0.084040,0.000000,0.268692,0.178999,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2919,0.235294,0.147959,0.666667,0.500,0.870229,0.733333,0.189027,0.000000,0.111215,0.195486,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
submit = pd.read_csv('./data/sample_submission.csv')
submit

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]